.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/babasneue-bold.woff2") format("woff2"), url("../fonts/babasneue-bold.woff") format("woff");
  font-style: "normal";
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/opensans-bold.woff2") format("woff2"), url("../fonts/opensans-bold.woff") format("woff");
  font-style: "normal";
  font-weight: 700; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular.woff2") format("woff2"), url("../fonts/opensans-regular.woff") format("woff");
  font-style: "normal";
  font-weight: 400; }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  text-align: center;
  margin: 0;
  color: #FFFFFF; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

span {
  display: block;
  text-indent: -9999px; }

.container {
  padding: 1px;
  margin-inline-start: 15px;
  margin-inline-end: 15px; }

.article_heading {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0; }

.article_questions {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0; }

.subscribe {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc(16px - 2px);
  line-height: 19px;
  color: #1A1917;
  padding: 1rem;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding-block-start: 11px;
  padding-block-end: 15px;
  border: none; }

@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto; }
  .article_heading {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-weight: bold;
    font-size: 80px;
    line-height: 80px; }
  .article_questions {
    font-family: 'Bebas Neue';
    font-style: normal;
    font-size: 24px;
    line-height: 24px;
    font-weight: bold; }
  .subscribe {
    font-weight: bold;
    font-size: 16px;
    line-height: 22px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.features {
  background-image: radial-gradient(38.45% 38.77% at 35.45% 44.62%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 25.99%, rgba(6, 7, 8, 0.739601) 65.03%, #080A0B 99.74%), url("../img/features-sm.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 100%;
  background-position: 0 0, 0% 50%;
  padding-inline-start: 170px;
  padding-block-start: 82.04px;
  padding-block-end: 85.81px;
  text-align: start; }

.features_heading {
  padding-bottom: 40px; }

.feature_summary {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548; }

ul > li p {
  margin: 0; }

details {
  position: relative; }

summary::-webkit-details-marker {
  display: none; }

details[open] > summary::before {
  position: relative;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  border-radius: 50%;
  margin-inline-start: -1rem;
  background-color: #fff;
  z-index: 2; }

details > summary::before {
  position: relative;
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  left: -1rem;
  border-radius: 50%;
  background-color: #080A0B;
  border: 1px solid #fff;
  margin-inline-start: -1rem;
  z-index: 2; }

details::before {
  content: '';
  width: 0.25rem;
  height: 100%;
  position: absolute;
  top: 1rem;
  left: -1.5rem;
  bottom: 1rem;
  background-color: #ccc;
  z-index: 1; }

ul > li:last-child details::before {
  top: -2rem; }

@media (min-width: 1200px) {
  .features {
    background-image: radial-gradient(45.1% 80.48% at 10.85% 29.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080A0B 99.74%), url("../img/bg-image-3.png");
    background-size: cover, auto 100%;
    background-position: 0 0, 0% 70%;
    background-repeat: no-repeat;
    padding-inline-start: 777px;
    padding-inline-end: 237px; }
  .feature_summary {
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 36px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.site_header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }

body > header .site_header__heading {
  position: absolute;
  margin-block-end: 0;
  top: 10%;
  left: 5%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 33px; }

.form {
  position: absolute;
  top: 0%;
  left: 50%; }

body > .menu__label {
  position: absolute;
  left: 90%;
  top: 4%;
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat;
  width: 34px; }

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 90%;
  top: 4%; }

#lang_dropdown {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: calc(16px - 4px);
  line-height: 16px;
  text-align: right; }

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform .2s;
  box-shadow: 50px 10px 50px rgba(124, 107, 107, 0.25);
  z-index: 1;
  background-color: #b0c0c0;
  padding-inline-start: 2rem;
  padding-block-start: 1rem;
  height: 100vh; }

.navigation_container a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  text-align: start;
  color: #FFFFFF; }

.navigation_container a:hover {
  color: #1A1917; }

.navigation_container {
  display: block; }

input[type="checkbox"]:checked ~ header .navigation {
  transform: translateX(0%); }

body > input[type="checkbox"]:checked ~ .menu__label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%; }

.icons {
  display: none; }

@media (min-width: 1200px) {
  .site_header {
    top: 10%; }
  body > .menu__label {
    display: none; }
  body > header .site_header__heading {
    position: absolute;
    top: 0%;
    left: 5.5%;
    margin-block-start: 0%; }
  .navigation {
    background-color: transparent;
    padding: 0;
    top: 0;
    left: auto;
    right: 30%;
    bottom: auto;
    width: 50%;
    box-shadow: none;
    transform: none;
    transition: none;
    height: auto; }
  .navigation_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
  .form {
    display: flex;
    position: relative;
    top: 0%;
    left: 85%; }
  .icons {
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-flex;
    justify-content: space-between;
    border-left: 0.87397px solid rgba(255, 255, 255, 0.5); }
    .icons li {
      margin-inline-start: 16px; }
  .icons a {
    display: block;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    width: 31px;
    min-height: 30px; }
  .icons li:nth-child(1) a {
    background-image: url("../img/xbox-icon.svg"); }
  .icons li:nth-child(2) a {
    background-image: url("../img/steam-icon.svg"); } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.masthead {
  background-image: url("../img/image-sc-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 231.15px; }

.masthead_heading {
  padding-block-end: 7.52px; }

.masthead_description {
  padding-block-end: 12.2px; }

.story {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  align-self: flex-start;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-block-end: 40px;
  background-image: url("../img/scroll-down.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center 70%;
  margin: 0; }

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-block-start: 174.69px;
  padding-block-end: 49.39px; }

.history .button {
  background-image: url("../img/image-1.svg"), url("../img/image-2.svg"), url("../img/image-2.svg"), url("../img/image-2.svg"), url("../img/switch-img.png");
  background-repeat: no-repeat;
  background-position: 0% 0%, 17% 10%, 35% 0%, 55% 0%, 100% 0%;
  width: 132.95px;
  height: 11px; }

@media (min-width: 1200px) {
  .masthead {
    background-image: url("../img/bg-image.png");
    padding-block-start: 500px; }
  .history .button {
    display: none; }
  .history {
    display: block;
    padding-block-start: 143px;
    padding-block-end: 54px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.royal_game {
  background-image: url("../img/image-2-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-block-start: 48.91px; }

.royal_game__heading {
  text-align: start;
  border-block-end: 2.34486px solid #ffffff;
  padding-block-end: 40px; }

.royal_game__header {
  padding-block-start: 5.52px; }

.royal_game .royal_game__description {
  text-align: start;
  padding-inline-start: 36.48px;
  padding-inline-end: 14.92px;
  padding-block-start: 26.72px;
  margin: 0; }

.royal_game p:nth-child(2) {
  padding-block-end: 0; }

figure {
  margin: 0; }

.picture {
  text-align: start;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-block-end: calc(100% * 273 / 249); }

.picture img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.picture li {
  position: absolute;
  top: 5%;
  transform-origin: 100% 0%; }

.royal_game__image1 {
  left: 0;
  top: 0;
  z-index: 3;
  right: calc(100% * 24 / 249);
  transform: scale(0.9);
  padding-block-start: 0; }

.royal_game__image2 {
  z-index: 2;
  padding-block-end: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  padding-block-start: calc(100% * 12 / 249);
  transform: scale(0.8); }

.royal_game__image3 {
  z-index: 1;
  padding-block-start: calc(100% * 24 / 249);
  padding-left: calc(100% * 24 / 249);
  right: 0;
  transform: scale(0.8); }

.icons_switch {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 150px;
  margin-inline-start: auto;
  margin-inline-end: auto;
  position: relative;
  top: -3rem; }

.icons_switch:after {
  content: '';
  width: 1rem;
  height: 0.25rem;
  position: absolute;
  top: 1.4rem;
  left: 1rem;
  bottom: 1rem;
  background-color: #ccc; }

.icons_switch li:nth-child(1) {
  position: relative;
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  border-radius: 50%;
  background-color: #fff; }

.icons_switch li:nth-child(2) a,
.icons_switch li:nth-child(3) a,
.icons_switch li:nth-child(4) a,
.icons_switch li:nth-child(5) a {
  position: relative;
  display: block;
  height: 1rem;
  width: 1rem;
  top: 1rem;
  border-radius: 50%;
  border: 1px solid #fff; }

.icons_switch li:nth-child(2) a {
  left: 2rem; }

.icons_switch li:nth-child(3) a {
  left: 4rem; }

.icons_switch li:nth-child(4) a {
  left: 6rem; }

.icons_switch li:nth-child(5) a {
  left: 8rem; }

@media (min-width: 1200px) {
  .royal_game {
    background-image: url("../img/bg-image-2-des.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-block-start: 255px;
    padding-block-end: 358px; }
  .royal_game__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  figure {
    background-image: url("../img/switch-vector.svg");
    background-size: 34px 20px;
    background-repeat: no-repeat;
    background-position: 100% 50%;
    padding-inline-end: 48px; }
  .picture {
    padding-inline-end: 400px;
    padding-block-end: 0; }
  .royal_game__heading {
    padding-inline-end: 178px;
    padding-block-end: 0; }
  .royal_game .royal_game__description {
    padding-inline-start: 250px; }
  .royal_game p:nth-child(2) {
    padding-block-start: 60px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.requirement {
  background-image: radial-gradient(72.54% 29.14% at 44.49% 72.05%, rgba(255, 255, 255, 0) 25.36%, rgba(0, 0, 0, 0) 29.19%, #080A0B 100%), url("../img/requirements-sm.png");
  background-repeat: no-repeat;
  background-size: cover, 100%;
  background-position: 0 0, 50% 100%;
  padding-block-start: 68.86px;
  padding-block-end: 234.32px; }

.requirement_container {
  padding-block-start: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.head {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFB548;
  padding-block-end: 16px; }

.description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

.requirement_container > li {
  display: block;
  text-align: start;
  border: 0.504234px solid #979797;
  padding-inline-start: 20px;
  padding-inline-end: 30px;
  padding-block-end: 20px;
  padding-block-start: 20px; }

.requirement_container li:nth-child(1) {
  grid-column: 1 / 3; }

.requirement_container li:nth-child(2) {
  grid-column: 3 / 5; }

.requirement_container li:nth-child(3) {
  grid-column: 1 / 3; }

.requirement_container li:nth-child(4) {
  grid-column: 3 / 5; }

.requirement_container li:nth-child(5) {
  grid-column: 1 / 5; }

@media (min-width: 1200px) {
  .requirement {
    background-image: radial-gradient(35.26% 38% at 67.32% 48.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080A0B 99.74%), url("../img/bg-image-4.png");
    background-repeat: no-repeat;
    background-size: cover, auto 80%;
    background-position: 0 0, 100% 30%;
    padding-block-start: 145px; }
  .requirement_container {
    width: 57%; }
  .requirement h3 {
    padding-block-end: 70px; }
  .requirement_container > li {
    padding-block-end: 31px;
    padding-inline-start: 15px; }
  .description {
    font-size: 18px;
    line-height: 22px; }
  .head {
    font-size: 24px;
    line-height: 24px;
    padding-block-end: 7px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.press_quotes {
  background-image: linear-gradient(90deg, black 0%, rgba(0, 0, 0, 0.9) 10%, black 60%, #000 100%);
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;
  padding-block-start: 36.99px;
  padding-block-end: 46.98px; }

.press_quotes .quotes_heading,
.quotes_description {
  text-align: start; }

.quotes_description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-block-end: 24.09px;
  padding-block-start: 24px;
  margin: 0; }

.quotes_container {
  display: flex;
  flex-direction: column;
  text-align: start; }

.quotes_container li {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding-inline-start: 16px;
  padding-inline-end: 42px;
  padding-block-start: 0;
  padding-block-end: 16px;
  margin-block-start: 20.39px; }

.quotes_container .name {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  margin: 0;
  margin-block-start: -25px; }

.quotes_container .job {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-block-start: 0;
  opacity: 0.5; }

.quotes_container .quote {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: start; }

.quotes_container .date {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5; }

.quotes_container .quotes {
  padding-inline-start: 72px;
  padding-block-end: 20px;
  margin-block-start: 0px; }

.quotes_container .quotes_evan h4::before {
  content: url(../img/evan-lahti.png);
  display: block;
  position: relative;
  top: 40px;
  left: -70px; }

.quotes_jada h4::before {
  content: url(../img/jada-griffin.png);
  display: block;
  position: relative;
  top: 40px;
  left: -70px; }

.quotes_aaron h4::before {
  content: url(../img/aaron-williams.png);
  display: block;
  position: relative;
  top: 40px;
  left: -70px; }

.quotes_evan h4::after,
.quotes_jada h4::after,
.quotes_aaron h4::after {
  content: url(../img/twitter.svg);
  position: relative;
  opacity: 0.3; }

.quotes_evan h4::after {
  left: 50%; }

.quotes_jada h4::after {
  left: 40%; }

.quotes_aaron h4::after {
  left: 30%; }

@media (min-width: 1200px) {
  .press_quotes__div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 167px; }
  .press_quotes__container {
    text-align: start;
    padding-block-start: 303px;
    padding-block-end: 270px; }
  .quotes_description {
    font-size: 18px;
    line-height: 22px; }
  .quotes_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 30px;
    padding-block-start: 160px;
    padding-block-end: 148px; }
  .quotes_container li {
    margin-block-start: 0; }
  .quotes_container .name {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px; }
  .quotes_container .quote {
    font-size: 18px;
    line-height: 25px; }
  .quotes_container .job {
    font-size: 18px; }
  .quotes_container .date {
    font-size: 14px;
    line-height: 19px; }
  .quotes_container li:nth-child(1) {
    grid-column: 2 / 5; }
  .quotes_container li:nth-child(2) {
    grid-column: 1 / 4; }
  .quotes_container li:nth-child(3) {
    grid-column: 2 / 5; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.newsletter {
  background-image: radial-gradient(39.45% 36.77% at 13.45% 33.62%, rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 0%, rgba(4, 5, 6, 0.520671) 59.99%, rgba(6, 7, 8, 0.739601) 72.03%, #080A0B 99.74%), url("../img/mayan-raul-sm.png");
  background-repeat: no-repeat, no-repeat;
  background-size: cover, auto 70%;
  background-position: 0 0, 0% 0%;
  background-color: black;
  padding-block-start: 64.07px;
  padding-block-end: 61.37px; }

.newsletter__container {
  text-align: start; }

.newsletter header, .newsletter_discription {
  padding-inline-start: 145px; }

input[type="email"] {
  background-color: transparent;
  border: none;
  color: white; }

fieldset {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 3px;
  margin-block-end: 20.48px; }

.email {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFB548; }

.newsletter__subscribe {
  width: 100%; }

.newsletter_discription {
  padding-block-end: 48px; }

@media (min-width: 1200px) {
  .newsletter {
    background-image: linear-gradient(90deg, black 8%, rgba(0, 0, 0, 0) 19%, black 30%, #000 100%), url("../img/newsletter.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, auto 60%;
    background-position: 0 0, 10% 60%;
    padding-inline-start: 400px;
    padding-inline-end: 100px;
    padding-block-start: 220px;
    padding-block-end: 142px; }
  .form_subscreibe {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 20px;
    padding-inline-start: 150px; }
  .form_subscreibe fieldset {
    display: flex;
    flex-direction: column; }
  .newsletter__subscribe {
    height: 60px; } }

.language {
  display: block;
  text-indent: -9999px; }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px; }

.footer {
  background-color: black;
  padding-block-start: 29px;
  padding-block-end: 40px; }

.footer_heading {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  height: 50px;
  margin: 0; }

.footer_navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: 42px;
  padding-block-end: 28px;
  border-block-end: 0.87397px solid rgba(255, 255, 255, 0.5); }
  .footer_navigation ul + ul {
    margin-block-start: 42px; }

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px; }

.footer_link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  line-height: 34px; }

.social__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; }

.footer_privicy li:nth-child(2) {
  border-inline-start: 2px solid grey;
  border-inline-end: 2px solid grey;
  margin-inline-start: 5rem;
  margin-inline-end: 5rem; }

.social__container .social_link {
  display: block;
  text-indent: -9999px;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 50px; }

.social__container li:nth-child(1) a:hover svg path {
  fill: blue; }

.social__container li:nth-child(2) a:hover svg path {
  fill: lightblue; }

.social__container li:nth-child(3) a:hover svg path {
  fill: #FF1313; }

.social__container li:nth-child(4) a:hover svg path {
  fill: lightblue; }

.copyright {
  opacity: 0.5;
  padding-block-end: 13px;
  padding-block-start: 19px;
  margin: 0; }

@media (min-width: 1200px) {
  .footer {
    padding-block-start: 21px;
    padding-block-end: 47px; }
  .footer_heading {
    width: 50px; }
  .footer_div {
    border-block-end: 0.87397px solid rgba(255, 255, 255, 0.5);
    padding-block-end: 41px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
  .footer_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    padding-block-end: 0;
    border-block-end: 0;
    height: 0; }
    .footer_navigation ul + ul {
      margin-inline-start: 87px;
      margin-block-start: 0; }
  .list_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 0; }
    .list_container li {
      margin-inline-end: 23px; }
  .copyright_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-block-start: 22px; }
  .copyright {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 19px; }
  .footer_link {
    line-height: 16px; }
  .footer_privicy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; }
    .footer_privicy li + li {
      margin-inline-start: 1rem; }
  .footer_privicy li:nth-child(2) {
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
    margin-inline-end: 0;
    margin-inline-start: 1rem; } }
