@font-face {
  font-family: "Bebas Neue";
  src: local("Bebas Neue Bold"), local("Bebas-Neue-Bold"), url("../fonts/babasneue-bold.woff2") format(woff2), url("../fonts/babasneue-bold.woff") format(woff);
  font-style: "normal";
  font-weight: 400; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Bold"), local("Open-Sans-Bold"), url("../fonts/opensans-bold.woff2") format(woff2), url("../fonts/opensans-bold.woff") format(woff);
  font-style: "normal";
  font-weight: 700; }

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans Regular"), local("Open-Sans-Regular"), url("../fonts/opensans-regular.woff2") format(woff2), url("../fonts/opensans-regular.woff") format(woff);
  font-style: "normal";
  font-weight: 400; }

html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 16px; }

body {
  text-align: center;
  margin: 0;
  color: #FFFFFF; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

span {
  display: block;
  text-indent: -9999px; }

.container {
  padding: 1px;
  margin-inline-start: 15px;
  margin-inline-end: 15px; }

.article_heading {
  font-family: 'Bebas Neue';
  font-weight: 400;
  font-size: 33px;
  line-height: 33px;
  letter-spacing: 3px;
  margin: 0;
  padding: 0; }

.article_questions {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  margin: 0;
  padding: 0; }

.subscribe {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: calc(16px - 2px);
  line-height: 19px;
  color: #1A1917;
  padding: 1rem;
  background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
  border-radius: 2.94008px;
  padding-block-start: 11px;
  padding-block-end: 15px;
  border: none; }

.features {
  background-color: black; }

.features figure {
  margin: 0; }

.features > img {
  max-width: 100%; }

.features aside {
  width: 400px; }

.features_heading {
  padding-bottom: 40px; }

.feature_container {
  text-align: start;
  padding-block-start: 82.04px;
  padding-block-end: 85.81px; }

.details_container > li + li {
  padding-top: 43px; }

.feature_summary {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548; }

.site_header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0; }

.language {
  display: block;
  text-indent: -9999px; }

#lang_dropdown {
  position: absolute;
  top: 50%;
  left: 50%; }

.container1 {
  display: flex;
  flex-direction: row; }

body > header .site_header__heading {
  margin-block-end: 0;
  top: 30%;
  left: 0%;
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 32px 32px;
  width: 33px; }

body > .menu__label {
  position: absolute;
  left: 90%;
  top: 6%;
  background-image: url("../img/menu-icon.svg");
  background-repeat: no-repeat;
  width: 34px; }

input[type="checkbox"] {
  opacity: 0;
  position: absolute;
  z-index: 1;
  left: 92%;
  top: 6%; }

#lang_dropdown {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: calc(16px - 4px);
  line-height: 16px;
  text-align: right;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.navigation {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  transform: translateX(-110%);
  transition: transform .2s;
  box-shadow: 0px 0px 50px rgba(124, 107, 107, 0.25);
  z-index: 1;
  background-color: #041111;
  padding-inline-start: 2rem;
  padding-block-start: 1rem;
  height: 100vh; }

.navigation_container a {
  text-decoration: none;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF; }

.navigation_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start; }

/*Create alternative state: open /checked */
input[type="checkbox"]:checked ~ header .navigation {
  transform: translateX(50%); }

body > input[type="checkbox"]:checked ~ .menu__label {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: -10%;
  height: 100%;
  width: 100%; }

.masthead {
  background-image: url("../img/image-sc-sm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-block-start: 231.15px; }

.masthead_heading {
  padding-block-end: 7.52px; }

.masthead_description {
  padding-block-end: 12.2px; }

.story {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 22px;
  align-self: flex-start;
  text-transform: uppercase;
  color: #FFFFFF;
  padding-block-end: 40px;
  background-image: url("../img/scroll-down.png");
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center 70%;
  margin: 0; }

.history {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-block-start: 174.69px;
  padding-block-end: 49.39px; }

.history button:nth-child(1),
.history button:nth-child(2),
.history button:nth-child(3),
.history button:nth-child(4) {
  background-repeat: no-repeat;
  background-size: 10.4px 10.4px;
  background-position: center;
  height: 10.4px;
  border: 0.97049px solid #FFFFFF;
  border-radius: 50%; }

.history button:nth-child(1) {
  background-image: url("../img/image-1.svg");
  background: #FFFFFF; }

.history button:nth-child(2),
.history button:nth-child(3),
.history button:nth-child(4) {
  background-image: url("../img/image-2.svg");
  background: none; }

.history button:nth-child(5) {
  background-image: url("../img/switch.svg");
  width: 41.63px;
  height: 6.8px;
  background: #FFFFFF;
  border: 1.19824px solid #FFFFFF; }

.royal_game {
  background-image: url("../img/image-2-sm.png"), url("../img/image-1.svg"), url("../img/image-2.svg");
  background-size: cover, 20px 20px;
  background-repeat: no-repeat;
  background-position: center, top center;
  padding-block-start: 48.91px; }

.royal_game__heading {
  text-align: start;
  border-block-end: 2.34486px solid #ffffff;
  padding-block-end: 40px; }

.royal_game__header {
  padding-block-start: 5.52px; }

.royal_game .royal_game__description {
  text-align: start;
  padding-inline-start: 36.48px;
  padding-inline-end: 14.92px;
  padding-block-start: 26.72px;
  margin: 0; }

.royal_game p:nth-child(2) {
  padding-block-end: 0; }

.picture {
  text-align: start;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-block-end: calc(100% * 273 / 249); }

.picture img {
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%; }

.picture li {
  position: absolute;
  top: 5%;
  transform-origin: 100% 0%; }

.royal_game__image1 {
  left: 0;
  top: 0;
  z-index: 3;
  right: calc(100% * 24 / 249);
  transform: scale(0.9);
  padding-block-start: 0; }

.royal_game__image2 {
  z-index: 2;
  padding-block-end: calc(100% * 12 / 249);
  left: calc(100% * 12 / 249);
  right: calc(100% * 12 / 249);
  padding-block-start: calc(100% * 12 / 249);
  transform: scale(0.8); }

.royal_game__image3 {
  z-index: 1;
  padding-block-start: calc(100% * 24 / 249);
  padding-left: calc(100% * 24 / 249);
  right: 0;
  transform: scale(0.8); }

.requirement {
  background-image: url("../img/bg-image-4-sm.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-block-start: 68.86px;
  padding-block-end: 234.32px; }

.requirement_container {
  padding-block-start: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr); }

.head {
  font-family: 'Bebas Neue';
  font-size: 18px;
  line-height: 18px;
  letter-spacing: 2px;
  color: #FFB548; }

.description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #FFFFFF; }

.requirement_container > li {
  display: block;
  text-align: start;
  border: 0.504234px solid #979797; }

.requirement_container li:nth-child(1) {
  grid-column: 1 / 3; }

.requirement_container li:nth-child(2) {
  grid-column: 3 / 5; }

.requirement_container li:nth-child(3) {
  grid-column: 1 / 3; }

.requirement_container li:nth-child(4) {
  grid-column: 3 / 5; }

.requirement_container li:nth-child(5) {
  grid-column: 1 / 5; }

.press_quotes {
  background: black;
  padding-block-end: 36.99px;
  padding-block-start: 46.98px; }

.press_quotes .quotes_heading,
.quotes_description {
  text-align: start; }

.quotes_description {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  padding-block-end: 24.09px;
  padding-block-start: 24px; }

.quotes_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  text-align: start; }

.quotes_container li {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  padding: 16px;
  margin-block-start: 20.39px; }

.quotes_container .name {
  font-family: 'Bebas Neue';
  font-size: 21px;
  line-height: 21px;
  letter-spacing: 2px;
  color: #FFB548;
  margin: 0; }

.quotes_container .job {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  margin-block-start: 0;
  opacity: 0.5; }

.quotes_container .quote {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: start; }

.quotes_container .date {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  opacity: 0.5; }

.quotes_container .quotes {
  padding-inline-start: 79px;
  padding-inline-end: 50px; }

.quotes_container .quotes_evan::before {
  content: url(../img/evan-lahti.png);
  position: absolute;
  left: 10%; }

.quotes_jada::before {
  content: url(../img/jada-griffin.png);
  position: absolute;
  left: 10%; }

.quotes_aaron::before {
  content: url(../img/aaron-williams.png);
  position: absolute;
  left: 10%; }

.quotes_evan::after,
.quotes_jada::after,
.quotes_aaron::after {
  content: url(../img/twitter.svg);
  position: absolute;
  left: 88%;
  margin-block-start: -3.5rem;
  opacity: 0.3; }

.quotes_container .quotes_evan {
  width: 200px;
  height: 60px; }

.newsletter {
  background-color: black;
  padding-block-start: 64.07px;
  padding-block-end: 61.37px; }

.newsletter img {
  float: left;
  width: 162px;
  height: 316px; }

.newsletter__container {
  text-align: start; }

input[type="email"] {
  background-color: transparent;
  border: none;
  color: white; }

fieldset {
  background: rgba(255, 255, 255, 0.08);
  border-radius: 3px;
  margin-block-end: 20.48px; }

.email {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #FFB548; }

.newsletter__subscribe {
  width: 100%; }

.newsletter_discription {
  padding-block-end: 48px; }

.footer {
  background-color: black;
  padding-block-start: 29px;
  padding-block-end: 40px; }

.footer_heading {
  background-image: url("../img/logo.png");
  background-repeat: no-repeat;
  background-size: 50px 50px;
  background-position: center;
  height: 50px;
  margin: 0; }

.footer_navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-block-start: 42px;
  padding-block-end: 28px;
  border-block-end: 0.87397px solid rgba(255, 255, 255, 0.5); }
  .footer_navigation ul + ul {
    margin-block-start: 42px; }

.list_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  height: 100px; }

.footer_link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.more {
  line-height: 16px; }

.social__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%; }

.social__container .social_link {
  display: block;
  text-indent: -9999px; }

.social__container .social_link {
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  width: 50px;
  min-height: 58px; }

.social__container li:nth-child(1) .social_link {
  background-image: url("../img/facebook.svg"); }

.social__container li:nth-child(2) .social_link {
  background-image: url("../img/twitter.svg"); }

.social__container li:nth-child(3) .social_link {
  background-image: url("../img/vector.svg"); }

.social__container li:nth-child(4) .social_link {
  background-image: url("../img/group.svg"); }

.copyright {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  mix-blend-mode: normal;
  opacity: 0.5;
  padding-block-end: 13px;
  padding-block-start: 19px; }

.privicy {
  line-height: 34px; }
