@import "variables";

html {
    font-family: $font_stack;
    font-size: $base_font_size;
}

body {
    text-align: center;
    margin: 0;
    color: $base-colour;
}

ul {
    @include nav-ul;
}

span {
    @include text-indent;
}

.container {
    padding: 1px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}
.article_heading {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: $heading_font_size;
    line-height: $heading_font_size;
    letter-spacing: 3px;
    margin: 0;
    padding: 0;
}

.article_questions {
    font-family: 'Bebas Neue';
    font-size: $question_font_size;
    line-height: $question_font_size;
    letter-spacing: 2px;
    margin: 0;
    padding: 0;
}

.subscribe {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: calc(#{$base_font_size} - 2px);
    line-height: 19px;
    color: $background-colour;
    padding: 1rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    padding-block-start: 11px;
    padding-block-end: 15px;
    border: none;
}

@media (min-width: $desktop_min_width) {
    .container {
        @include containers;
    }
}

