@import "variables";

html {
    font-family: $font_stack;
}

body {
    text-align: center;
    margin: 0;
    color: #FFFFFF;
    // background-color: #1A1917;
}

ul {
    @include nav-ul;
}

span {
    @include text-indent;
}

.container {
    padding: 1px;
    margin-inline-start: 15px;
    margin-inline-end: 15px;
}
.article_heading {
    font-family: 'Bebas Neue';
    font-weight: 400;
    font-size: 33px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.article_questions {
    font-family: 'Bebas Neue';
    font-size: 18px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 2px;
}

.subscribe {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 19px;
    color: $background-colour;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(194.68deg, #FFB548 11.27%, #F3AF34 90.4%);
    border-radius: 2.94008px;
    padding-block-start: 11px;
    padding-block-end: 15px;
    border: none;
}

