.features {
    background-image: image('bg-image-3-sm.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-block-start: 82.04px;
    padding-block-end: 85.81px;
}