@import "variables";
.features {
    // background-image: image('bg-image-3-sm-mob.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    //padding-inline-start: 116.19px;
    background-color: black;
    padding-block-start: 82.04px;
    padding-block-end: 85.81px;
}

.features figure {
    float: left;
    clear: left;
    width: 215px;
    height: 378px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: -6rem;
}

.features img {
    max-width: 100%;
    width: 100%;
    height: 100%;
}

.features_heading {
    padding-bottom: 40px;
}

.feature_container {
    text-align: start;
}

.details_container > li + li {
    padding-top: 43px;
}

.feature_summary {
    font-family: 'Bebas Neue';
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: $list-head-colour;
}

.details1::before {
    content: url(../img/image-1.svg);
    position: absolute;
    left: 28%;
}

.details2::before {
    content: url(../img/image-2.svg);
    position: absolute;
    left: 28%;
}
.details3::before {
    content: url(../img/image-2.svg);
    position: absolute;
    left: 28%;
}

