@import "variables";
.features {
    // background-image: image('bg-image-3-sm-mob.png');
    // background-repeat: no-repeat;
    // background-size: cover;
    // background-position: center;
    //padding-inline-start: 116.19px;
    background-color: black;
}

.features figure {
    margin: 0;
}

.features > img {
    max-width: 100%;
}

.features aside {
  width: 400px;
}

.features_heading {
    padding-bottom: 40px;
}

.feature_container {
    text-align: start;
    padding-block-start: 82.04px;
    padding-block-end: 85.81px;
}

.details_container > li + li {
    padding-top: 43px;
}

.feature_summary {
    font-family: 'Bebas Neue';
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 2px;
    color: $list-head-colour;
}