@import "variables";
.footer {
    background-color: black;
    padding-block-start: 29px;
    padding-block-end: 40px;
}

.footer_heading {
    background-image: image('logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    height: 50px;
    margin: 0;
}

.footer_navigation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    & ul + ul {
        margin-block-start: 42px;
    }
    padding-block-start: 42px;
    padding-block-end: 28px;
    border-block-end: 0.873968px solid rgba(255, 255, 255, 0.5);
}

.list_container {
    @include flex-row;
    flex-wrap: wrap;
    height: 100px;
}

.footer_link {
    @include anchor;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;

}

.more {
    line-height: 16px;
}

.social__container {
    @include flex-row;
    flex-wrap: wrap;
    width: 100%;
    
}

.social__container .social_link{
    @include text-indent;
}

.social__container .social_link {
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 50px;
    min-height: 58px;
}

.social__container li:nth-child(1) .social_link {
    background-image: image('facebook.svg');
}

.social__container li:nth-child(2) .social_link {
    background-image: image('twitter.svg');
}

.social__container li:nth-child(3) .social_link {
    background-image: image('vector.svg');
}

.social__container li:nth-child(4) .social_link {
    background-image: image('group.svg');
}

.copyright {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    mix-blend-mode: normal;
    opacity: 0.5;
    padding-block-end: 13px;
    padding-block-start: 19px;
}

.privicy {
    line-height: 34px;
}