@import "variables";
.footer {
    background-color: black;
    padding-block-start: 29px;
    padding-block-end: 40px;
}

.footer_heading {
    background-image: image('logo.png');
    background-repeat: no-repeat;
    background-size: 50px 50px;
    background-position: center;
    height: 50px;
    margin: 0;
}

.footer_navigation {
    @include flex-column;
    & ul + ul {
        margin-block-start: 42px;
    }
    padding-block-start: 42px;
    padding-block-end: 28px;
    border-block-end: 0.873968px solid rgba(255, 255, 255, 0.5);
}

.list_container {
    @include flex-row;
    flex-wrap: wrap;
    height: 100px;
}

.footer_link {
    @include anchor;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: 34px;
}

.social__container {
    @include flex-row;
    flex-wrap: wrap;
    // background-image: image('cursor.png');
    // background-repeat: no-repeat;
    // background-size: 10px;
    // background-position: 50% 50%;
}

.footer_privicy li:nth-child(2) {
    border-inline-start: 2px solid grey;
    border-inline-end: 2px solid grey;
    margin-inline-start: 5rem;
    margin-inline-end: 5rem;
}

.social__container .social_link {
    @include text-indent;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 50px;
}

.social__container li:nth-child(1) .social_link {
    background-image: image('facebook.svg');
}

.social__container li:nth-child(2) .social_link {
    background-image: image('twitter.svg');
}

.social__container li:nth-child(3) .social_link {
    background-image: image('vector.svg');
}

.social__container li:nth-child(4) .social_link {
    background-image: image('group.svg');
}

.copyright {
    @extend %small-font-size;
    opacity: 0.5;
    padding-block-end: 13px;
    padding-block-start: 19px;
    margin: 0;
}

@media (min-width: $desktop_min_width) {
    .footer {
        padding-block-start: 21px;
        padding-block-end: 47px;
      }
      .footer_heading {
          width: 50px;
      }
    
      .footer_div {
        border-block-end: 0.873968px solid rgba(255, 255, 255, 0.5);
        padding-block-end: 41px;
        @include flex-row;
      }
    
      .footer_navigation {
        @include flex-row;
        padding: 0;
        padding-block-end: 0;
        border-block-end: 0;
        height: 0;
        & ul + ul {
            margin-inline-start: 87px;
            margin-block-start: 0;
        }
    }

    .list_container {
        @include flex-row;
    height: 0;
        & li {
            margin-inline-end: 23px;
        }
    }

    .social__container li {
        margin-block-start: 2rem;
    }
    .copyright_container {
        @include flex-row;
        margin-block-start: 22px;
    }
    .copyright {
        padding: 0;
        margin: 0;
        font-size: 14px;
        line-height: 19px;
    }
    .footer_link {
        line-height: 16px;
    }
    .footer_privicy {
        @include flex-row;
        & li + li {
            margin-inline-start: 1rem;
        }
    }
    .footer_privicy li:nth-child(2) {
        padding-inline-start: 1rem;
        padding-inline-end: 1rem;
        margin-inline-end: 0;
        margin-inline-start: 1rem;
    }
}