@import "variables";

.masthead {
    background-image: image('image-sc-sm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block-start: 231.15px;
}

.masthead_heading {
    padding-block-end: 7.52px;
}

.masthead_description {
    padding-block-end: 12.2px;
}

.story {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 22px;
    align-self: flex-start;
    text-transform: uppercase;
    color: $base-colour;
    padding-block-end: 40px;
    background-image: image('scroll-down.png');
    background-size: 40px;
    background-repeat: no-repeat;
    background-position: center 70%;
    margin: 0;
}

.history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding-block-start: 174.69px;
    padding-block-end: 49.39px;
}

.history .button {
    background-image:   image('image-1.svg'),
                        image('image-2.svg'),
                        image('image-2.svg'),
                        image('image-2.svg'),
                        image('switch-img.png');
    background-repeat: no-repeat;
    background-position: 0% 0%, 17% 10%, 35% 0%, 55% 0%, 100% 0%;
    width: 132.95px;
    height: 11px;
}