.newsletter {
    background-color: black;
    padding-block-start: 64.07px;
    padding-block-end: 61.37px;
}

.newsletter img {
    float: left;
    width: 162px;
    height: 316px;
}

.newsletter__container {
    text-align: start;
}

input[type="email"] {
    background-color: transparent;
    border: none;
    color: white;
}

fieldset {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
    margin-block-end: 20.48px;
}

.email {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFB548;
}

.newsletter__subscribe {
    width: 100%;
}
.newsletter_discription {
    padding-block-end: 48px;
}