
@import "variables";

.royal_game {
    background-image: image('image-2-sm.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-block-start: 48.91px;
    padding-block-end: 361.46px;
}

.royal_game__heading {
    text-align: start;
    border-block-end: 2.34486px solid #ffffff;
    padding-block-end: 40px;
}

.royal_game__header {
    padding-block-start: 5.52px;
}

.royal_game p {
    text-align: start;
    padding-inline-start: 36.48px;
    padding-inline-end: 14.92px;
    padding-block-start: 26.72px;
    margin: 0;
}