
@import "variables";

.royal_game {
    background-image: image('image-2-sm.png'),
                      image('image-1.svg'),
                      image('image-2.svg');
    background-size: cover, 20px 20px;
    background-repeat: no-repeat;
    background-position: center, top center;
    padding-block-start: 48.91px;
}

.royal_game__heading {
    text-align: start;
    border-block-end: 2.34486px solid #ffffff;
    padding-block-end: 40px;
}

.royal_game__header {
    padding-block-start: 5.52px;
}

.royal_game .royal_game__description {
    text-align: start;
    padding-inline-start: 36.48px;
    padding-inline-end: 14.92px;
    padding-block-start: 26.72px;
    margin: 0;
}

.royal_game p:nth-child(2) {
  padding-block-end: 0;
}

figure {
  margin: 0;
}

.picture {
    text-align: start;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    padding-block-end: calc(100% * 273 / 249);
  }

  .picture img {
    max-width: 100%;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

  .picture li {
    position: absolute;
    top: 5%;
    transform-origin: 100% 0%;
  }
  
  .royal_game__image1 {
    left: 0;
    top: 0;
    z-index: 3;
    right: calc(100% * 24 / 249);
    transform: scale(0.9);
    padding-block-start: 0;
  }
  .royal_game__image2 {
    z-index: 2;
    padding-block-end: calc(100% * 12 / 249);
    left: calc(100% * 12 / 249);
    right:  calc(100% * 12 / 249);
    padding-block-start: calc(100% * 12 / 249);
    transform: scale(0.8);
  }
  .royal_game__image3 {
    z-index: 1;
    padding-block-start: calc(100% * 24 / 249);
    padding-left: calc(100% * 24 / 249);
    right: 0;
    transform: scale(0.8);
  }
  .icons_switch {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 211px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    top: -3rem;
  }
  .icons_switch:after {
    content: '';
    width: 1.5rem;
    height: 0.25rem;
    position: absolute;
    top: 1.4rem;
    left: 1rem;
    bottom: 1rem;
    background-color: #ccc;
  }
  .icons_switch li:nth-child(1) {
    position: relative;
    display: block;
    height: 1rem;
    width: 1rem;
    top: 1rem;
    border-radius: 50%;
    background-color: #fff;
  }
  .icons_switch li:nth-child(2),
  .icons_switch li:nth-child(3),
  .icons_switch li:nth-child(4),
  .icons_switch li:nth-child(5) {
    position: relative;
    display: block;
    height: 1rem;
    width: 1rem;
    top: 1rem;
    border-radius: 50%;
    border: 1px solid #fff;
  }

  @media (min-width: $desktop_min_width) {
    .royal_game {
      background-image: image('bg-image-2-des.png');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      padding-block-start: 255px;
      padding-block-end: 358px;
    }
    .royal_game__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    figure {
      background-image: image('switch-vector.svg');
      background-size: 34px 20px;
      background-repeat: no-repeat;
      background-position: 100% 50%;
      padding-inline-end: 48px;
    }
    .picture {
      padding-inline-end: 400px;
      padding-block-end: 0;
    }
    .royal_game__heading {
      padding-inline-end: 178px;
      padding-block-end: 0;
    }
    .royal_game .royal_game__description {
      padding-inline-start: 250px;
    }
    .royal_game p:nth-child(2) {
      padding-block-start: 60px;
    }
  }
