@import "variables";

.site_header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
}

.language {
    @extend %indent;
}

// #lang_dropdown {
//     position: absolute;
//     top: 50%;
//     left: 50%;
// }

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

body > header .site_header__heading {
    position: absolute;
    margin-block-end: 0;
    top: 10%;
    left: 5%;
    background-image: image('logo.png');
    background-repeat: no-repeat;
    background-size: 32px 32px;
    width: 33px;
}

.form {
    position: absolute;
    top: 0%;
    left: 50%;
}

body > .menu__label {
    position: absolute;
    left: 90%;
    top: 4%;
    background-image: image('menu-icon.svg');
    background-repeat: no-repeat;
    width: 34px;
}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    z-index: 1;
    left: 90%;
    top: 4%;
}

#lang_dropdown {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: calc(#{$base_font_size} - 4px);
    line-height: 16px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

// // // input[type="checkbox"]:checked 

.navigation {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    transform: translateX(-150%);
    transition: transform .2s;
    box-shadow: 50px 10px 50px rgba(124, 107, 107, 0.25);
    z-index: 1;
    background-color: rgb(176, 192, 192);
    padding-inline-start: 2rem;
    padding-block-start: 1rem;
    height: 100vh;
}

.navigation_container a {
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $base-colour;
   }

   .navigation_container a:hover {
        color: $background-colour;
   }

   .navigation_container {
       display: block;
   }
  
//   /*Create alternative state: open /checked */
  
  input[type="checkbox"]:checked ~ header .navigation {
    transform: translateX(-10%);
  }
  
  body > input[type="checkbox"]:checked ~ .menu__label {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: -10%;
    height: 100%;
    width: 100%;
}

.icons {
   display: none;
}

@media (min-width: $desktop_min_width) {
    .site_header {
        top: 10%;
    }
    body > .menu__label {
    display: none;
  }

  body > header .site_header__heading {
    position: absolute;
    top: 0%;
    left: 5.5%;
    margin-block-start: 0%;
  }

  .navigation {
    background-color: transparent;
    padding: 0;
    top: 0;
    left: auto;
    right: 30%;
    bottom: auto;
    width: 50%;
    box-shadow: none;
    transform: none;
    transition: none;
    height: auto;
  }
  .navigation_container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
  }

    .form {
        display: flex;
        position: relative;
        top: 0%;
        left: 86%;
    }
    .icons {
        @include nav-ul;
        display: inline-flex;
        justify-content: space-between;
        border-left: 0.873968px solid rgba(255, 255, 255, 0.5);
        //width: 80px;
        & li {
            margin-inline-start: 16px;
        }
    }
    .icons a {
        @include text-indent;
        background-repeat: no-repeat;
        background-position: center;
        width: 31px;
        min-height: 30px;
    }
    .icons li:nth-child(1) a {
        background-image: image("xbox-icon.svg");
    }
    .icons li:nth-child(2) a {
        background-image: image("steam-icon.svg");   
    }
}